/* style.css */
body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    color: #333;
    background-color: #f4f4f4;
}

header {
    background: #0056b3;
    color: #ffffff;
    padding: 10px 0;
    text-align: center;
}

header nav ul {
    list-style: none;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin-right: 10px;
}

header nav ul li a {
    color: white;
    text-decoration: none;
}

.gallery {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

.gallery img {
    width: 30%;
    height: auto;
    border: 5px solid #fff;
    box-shadow: 2px 2px 8px #aaa;
}

footer {
    text-align: center;
    padding: 20px 0;
    background: #333;
    color: white;
}

article {
    background-color: white;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 2px 2px 8px #aaa;
}
